#user-list-paper {
    margin-top: 10px;
    margin-bottom: 20px;
}

.search {
    float: right;
    div {
        width: auto;
    }
}

.search-input {
    margin-left: auto;
    div {
        margin: 0;
    }
}

.user-Purchase-list {
    margin-top: 30px;
    margin-bottom: 30px;
}

.delivery-status-icon:hover {
    cursor: pointer;
}